:host {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    background-color: var(--background-color-dark-full);
}

.error-message span :nth-child(odd) {
	color: var(--primary-color-dark-full);
}

.error-message span:nth-child(even) {
	color: var(--white-color-dark-text);
}

.brand {
	
	text-align: center;

	a {
		color: var(--white-color-dark-text);
		text-decoration: none;
	}

	span {
		color: var(--primary-color-dark-full);
	}
}

.btn.btn-primary {
	background-color: var(--primary-color-dark-bg);
    border: 1px solid var(--primary-color-dark-bg);
	color: var(--primary-color-dark-text);
}

.link-primary {
	color: var(--primary-color-dark-bg-soft);
	text-decoration: none;
}

.text-white {
	color: var(--white-color-dark-text);
}

.img-container {
	width: 400px;
	min-width: 200px;
	height: auto;

	img {
		width: 100%;
	}
}