<div class="container pt-4 mt-5" *ngIf="account && records">
	<!-- Back arrow -->
	<div class="row pt-2 pb-3">
		<div class="d-flex justify-content-between align-items-center">
			<a [routerLink]="['/accounts']" class="link-white d-flex align-items-center gap-2">
				<i class='bx bx-arrow-back'></i>
				<span>Back</span>
			</a>
			<div class="d-flex justify-content-end align-items-center gap-3">
				<a [routerLink]="['/accounts/', account.id, 'edit']" class="link-white fs-3">
					<i class='bx bx-cog'></i>
				</a>
			</div>
		</div>
	</div>

    <div class="row">
        <h1 class="text-white fw-bold text-center py-3" [ngClass]="account.total < 0 ? 'text-danger' : 'text-success'">{{account.total | currency:'':''}} {{account.currency.iso}}</h1>
    </div>

	<div class="row">
        <div class="searchbar">
            <form [formGroup]="accountFormGroup">
                <input type="text" class="form-control" id="keyword" placeholder="Search by Name, Concept, or Category" formControlName="Keyword" (keyup)="filterRecords()">
            </form>
        </div>
    </div>

	<div class="container py-2">
		<ul class="list-group list-group-flush py-2">
			<li class="list-group-item" *ngFor="let record of records">
				<div class="row" [routerLink]="['/records/', record.id, 'detail']">
					<div class="col-7 d-flex">
						<div class="pe-3 pt-2">
							<span class="rounded-circle bg-primary p-2">
								<i class='bx bx-list-ul'></i>
							</span>
						</div>
						<div class="d-flex flex-column">
							<span>{{record.name}}</span>
							<span>{{record.concept}}</span>
							<div>
								<span class="badge rounded-pill bg-secondary">{{record.category.name}}</span>
							</div>
						</div>
					</div>
					<div class="col-5">
						<div class="d-flex flex-column text-end">
							<span *ngIf="record.type.id === CONSTANT_TYPE_EXPENSE" class="text-danger">- {{account.currency.iso}} {{record.amount | currency:'':''}}</span>
							<span *ngIf="record.type.id === CONSTANT_TYPE_INCOME" class="text-success">+ {{account.currency.iso}} {{record.amount | currency:'':''}}</span>
							<p>{{record.recordDate | date}}</p>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>

