<div class="container pt-4 mt-5">
  <!-- Back arrow -->
	<div class="row pt-2 pb-3">
		<div class="d-flex justify-content-between align-items-center">
			<a [routerLink]="['/profile']" class="link-white d-flex align-items-center gap-2">
				<i class='bx bx-arrow-back'></i>
				<span>Back</span>
			</a>
		</div>
	</div>

  <div class="container px-4 pt-2">
    <div class="row align-items-center justify-content-center mb-3">
      <!-- <div class="mb-3">
				<label for="password" class="form-label">Password</label>
				<input type="password" class="form-control" id="password" formControlName="Password">
				<div *ngIf="frmRegister['Password'].invalid && (frmRegister['Password'].dirty || frmRegister['Password'].touched)">
					<span class="text-danger" *ngIf="frmRegister['Password'].hasError('required')">Password is required</span>
					<span class="text-danger" *ngIf="frmRegister['Password'].hasError('minlength')">Password must have 8-128 characters long</span>
					<span class="text-danger" *ngIf="frmRegister['Password'].hasError('maxlength')">Password must have 8-128 characters long</span>
				</div>
			</div>
			<div class="mb-3">
				<label for="confirm" class="form-label">Confirm Password</label>
				<input type="password" class="form-control" id="confirm" formControlName="Confirm">
				<div *ngIf="frmRegister['Confirm'].invalid && (frmRegister['Confirm'].dirty || frmRegister['Confirm'].touched)">
					<span class="text-danger" *ngIf="frmRegister['Confirm'].hasError('required')">Confirm Password is required</span>
					<span class="text-danger" *ngIf="frmRegister['Confirm'].hasError('minlength')">Confirm Password must have 8-128 characters long</span>
					<span class="text-danger" *ngIf="frmRegister['Confirm'].hasError('maxlength')">Confirm Password must have 8-128 characters long</span>
					<span class="text-danger" *ngIf="frmRegister['Confirm'].hasError('notSame')">Confirm Password and Password doesn't match</span>
				</div>
			</div> -->
    </div>
  </div>
</div>