<div class="container">
	<h1 class="brand"><a [routerLink]="['']">Under <span>CTRL</span></a></h1>
	<form class="container px-5">
		<div class="row align-items-center justify-content-center mb-3">
			<div class="mb-3">
				<label for="password" class="form-label">Password</label>
				<input type="password" class="form-control" id="password">
			</div>
			<div class="mb-3">
				<label for="confirm" class="form-label">Confirm Password</label>
				<input type="password" class="form-control" id="confirm">
			</div>
		</div>

		<div class="d-flex flex-column mb-5">
			<button type="submit" class="btn btn-primary flex-fill">Change Password</button>
		</div>

		<div class="d-flex justify-content-center">
			<p class="text-white"><a [routerLink]="['']" class="link-danger">Cancel</a></p>
		</div>

	</form>
</div>