<div class="container pt-4 mt-5">
  <div class="row py-3 text-white">
      <div class="col-12">
        <div class="chartjs-container">
          <canvas 
              baseChart 
              [data]="pieChartData" 
              [labels]="pieChartLabels" 
              [chartType]="pieChartType"
              [options]="pieChartOptions" 
              [plugins]="pieChartPlugins" 
              [colors]="pieChartColors" 
              [legend]="pieChartLegend">
          </canvas>
      </div>
    </div>
  </div>
</div>

