<div class="container py-5">
    <div class="row py-3">
        <div class="col-12 py-2" *ngFor="let account of accounts">
            <div class="card" [routerLink]="['/accounts/', account.id, 'detail']">
                <div class="card-body">
                    <h5><i class='bx bx-wallet'></i> {{account.name}}</h5>
                    <h2>{{account.currency.iso}} {{account.total | currency:'':''}}</h2>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-6 spending">
                            <div class="d-flex flex-column justify-content-center align-items-start">
                                <div class="py-1">
                                    <p class="m-0"><i class='bx bxs-up-arrow'></i> Income</p>
                                    <p class="m-0">{{account.income | currency:'':''}} {{account.currency.iso}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 spending">
                            <div class="d-flex flex-column justify-content-center align-items-end">
                                <div class="py-1">
                                    <p class="m-0"><i class='bx bxs-down-arrow'></i> Expenses</p>
                                    <p class="m-0 text-end">{{account.expense | currency:'':''}} {{account.currency.iso}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

