<header></header>

<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <div class="d-flex gap-2">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <i class='bx bx-menu'></i>
            </button>
            <span class="navbar-brand">{{breadcrum}}</span>
        </div>

        <!-- Sidemenu -->
        <div class="offcanvas offcanvas-start offcanvas-bg-dark" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header bg-dark py-5">
                <div class="col-10 d-flex profile-header" [routerLink]="['/profile']">
                    <div class="col-2 fs-1">
                        <i class='bx bx-user'></i>
                    </div>
                    <div class="col-10">
                        <p class="m-0">{{user.firstname}} {{user.lastname}}</p>
                        <p class="m-0 text-subtext">Premium plan</p>
                    </div>
                </div>
                
                <div class="col-2 d-flex justify-content-end align-items-start">
                    <button type="button" class="close-offcanvas text-reset text-subtext" data-bs-dismiss="offcanvas" aria-label="Close"><i class='bx bx-x' ></i></button>
                </div>
                <!-- <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5> -->
                
            </div>

            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
                    <li class="nav-item py-1" *ngFor="let menuItem of menu">
                        <a [routerLink]="menuItem.url" class="nav-link d-flex align-items-center" data-bs-dismiss="offcanvas">
                            <i class="bx {{menuItem.icon}} fs-3"></i>
                            <span class="ps-4">{{menuItem.name}}</span>
                        </a>
                    </li>
                </ul>
            </div>

            <a href="https://github.com/mishrole" class="offcanvas-footer d-flex p-3 text-subtext d-flex align-items-center" target="_blank">
                <i class='bx bxl-github fs-1'></i> <span class="ps-3">Designed & developed by <span class="fw-bold">mishrole</span></span>
            </a>

            <a href="" (click)="logOut($event)" class="offcanvas-footer d-flex p-3 text-danger d-flex align-items-center justify-content-between">
                <span>Log Out</span>
                <i class='bx bx-log-out fs-4' id="log_out"></i>
            </a>
        </div>
    </div>
</nav>

<div class="container mt-2">

    <router-outlet></router-outlet>

    <!-- FAB Button -->
    <div id="container-floating">
        <a [routerLink]="['/accounts/new']">
            <div class="nd5 nds" data-original-title="Accounts" data-placement="left" data-toggle="tooltip">
                <p class="letter"><i class='bx bx-wallet'></i></p>
                <div class="quick-term">Accounts</div>
            </div>
        </a>
        
        <a [routerLink]="['/records/new']">
            <div class="nd4 nds" data-original-title="Records" data-placement="left" data-toggle="tooltip">
                <p class="letter"><i class='bx bx-list-ul'></i></p>
                <div class="quick-term">Records</div>
            </div>
        </a>

        <a [routerLink]="['/categories/new']" target="_blank">
            <div class="nd3 nds" data-original-title="Categories" data-placement="left" data-toggle="tooltip">
                <p class="letter"><i class='bx bx-category-alt'></i></p>
                <div class="quick-term">Categories</div>
            </div>
        </a>

        <a [routerLink]="['/contacts/new']">
            <div class="nd1 nds" data-original-title="Contacts" data-placement="left" data-toggle="tooltip">
                <p class="letter"><i class='bx bxs-contact'></i></p>
                <div class="quick-term">Contacts</div>
            </div>
        </a>
    
        <!-- <div data-original-title="Create" data-placement="left" data-toggle="tooltip" id="floating-button" onclick="newmail()">
            <p class="plus">+</p>
            <img class="edit" src="http://itagroup.hs.llnwd.net/o40/csg/pse-demo/arrow.png" />
        </div> -->

        <div data-original-title="Create" data-placement="left" data-toggle="tooltip" id="floating-button">
            <p class="plus"><i class='bx bx-plus'></i></p>
            <p class="edit"><i class='bx bx-up-arrow-alt' ></i></p>
            <!-- <img class="edit" src="http://itagroup.hs.llnwd.net/o40/csg/pse-demo/arrow.png" /> -->
        </div>
    </div>
</div>

<footer></footer>